body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-logo > a:hover {
  color: #404bbf;
}
.header-logo > a:focus {
  color: #404bbf;
}

.header-logo span {
  color: var(--NAVY-BLUE, #2e2f42);
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link {
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-contact {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
}

.hero {
  padding-bottom: 188px;
  padding-top: 188px;
  background-color: #2e2f42;
}

.hero-container {
}

.hero-title {
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--IRIS, #4d5ae5);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.visually-hidden {
}

.info {
  color: #2e2f42;
  padding-bottom: 120px;
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info-container {
}

.info-list {
  display: flex;
  gap: 24px;
}

.info-item {
  width: calc((100% - 72px) / 4);
}

.info-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.info-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-name {
  padding: 32px 0;
  text-align: center;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-images {
}
.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-images {
  display: block;
  max-width: 100%;
}

.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-span {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
